root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = 100

[{config,make.pl}]
indent_style = space
indent_size = 2

[*.nix]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[apps/*.{sh,pl}]
indent_style = tab
